/* .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 elementos por linha 
  gap: 20px;
  margin-top: "30px" ,color: "Black"
} 
*/

.trocar-imagem-icon {
  background: red;
  font-size: 20pt;
  padding: 1px 3px 1px 3px;
  color: #ffffff;
  border: none;
   border-radius: 20%; 
  cursor: pointer;
}

.trocar-imagem-icon:hover {
  background: #f33655;
}

